*, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(#af99ff, #bbbbbb, #fa98c1);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

button {
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    color: #666666;
    font-family: 'Comfortaa', cursive;
}

li {
    list-style: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c0c0c0;
    font-size: 15px;
}

h1 {
    text-align: center;
    font-size: 23px;
    color: #797777;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
}

.content {
    display: flex;
    justify-content: center;
    padding: 50px 0; 
}

.container {
    margin: 20px;
}

.bg {
    width: 100%;
    height: 420px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.add, 
.list {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.576);
    border-radius: 5px;
}

.add {
    width: 300px;
    margin-right: 20px;

}

.add .bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    width: 500px;
    margin-left: 20px;
}

.list .bg {
    overflow: auto;
}

.add input {
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #c0c0c0;
    font-size: 14px;
}

.date-time{
    display: flex;
    justify-content: space-between;
}

.input-todo {
    width: 100%;
}

.date-todo {
    width: 60%;
    color: #808080;
}

.time-todo {
    width: 39%;
    color: #808080;
}

.btn-add,
.btn-del-all {
    height: 30px;
    width: 100%;
}

.btn-del-list {
    height: 30px;
    width: 60px;
}

.item-list {
    width: 350px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.date-todo-list{
    font-size: 13px;
    color: #808080;
}

/* RESPONSIVIDADE */
@media (max-width: 860px){
    .content{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 20px 0;
    }

    .add {
        width: 90vw;
        height: 300px;
        margin: 0;
    }

    .add .bg {
        height: 220px;
    }

    .list {
        width: 90vw;
        margin: 20px 0 0;
    }

    .item-list {
        width: 65vw;
        overflow-x: auto;
    }
}

@media (max-width: 500px){
    .item-list {
        width: 50vw;
    }
}